---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 | Jan Krapac Photography" noindex>
  <div id="main">
    <section id="one">
      <h1>Not Found</h1>
      <p>You just hit a route that does not exist.</p>
    </section>
  </div>
</BaseLayout>
