<div id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://www.facebook.com/jan.krapac" class="icon fa fa-facebook-square">
          <span class="label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="mailto:krapac.cz@momosantiri.com" class="icon fa-envelope-square">
          <span class="label">Email</span>
        </a>
      </li>
    </ul>
  </div>
</div>
