---
import Footer from './Footer.astro';
---

<header id="header" class="yarl__no_scroll_padding">
  <div class="inner">
    <a href="/">
      <h1><strong>Jan Krapáč</strong></h1>
    </a>
  </div>
  <Footer />
</header>
